# This is Git's per-user configuration file.
[user]
  # Please adapt and uncomment the following lines:
  name = Aron Strandberg
  email = aron@aronstrandberg.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJww2KGS0w4W8kVod6ejxKO9it+6+z2Sva9aLXQ8uRlJ

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true


[alias]
  # When doing "git git log" or some such, do not complain about "git" not
	# being a valid Git command. This happens when copy-pasting examples, for
	# instance.
  git = !git
  g = !git

  # basics
  d = diff
  dc = diff --cached
  s = status
  l = log -30 --no-merges --date=format:'%d/%m' --format=babe # the custom babe format is specified below
  conf = ! atom ~/.gitconfig # open this config file

  # commiting
  a = add
  b = checkout
  c = commit -v
  pr = pull-request | pbcopy
  # Amend the currently staged files to the latest commit
  amend = commit --amend --reuse-message=HEAD
  unstage = reset HEAD

  # pulling
  f = fetch --all

  # pushing
  p = push
  pf = push --force
  pn = push --set-upstream origin (git rev-parse --abbrev-ref HEAD ^ /dev/null)

  # remotes
  remotes = remote -v

  # branches
  master = checkout master
  branches = branch -v
  merged = ! git branch --merged > merged.txt && git branch -r --merged > rmerged.txt && comm -2 merged.txt rmerged.txt && rm merged.txt rmerged.txt
  delete-branch = ! git branch -D $1
  clean-branches = ! git checkout master && git branch --merged | grep -v ‘\\*’ | xargs -n 1 git branch -d

  # rebasing
  rb = "!f() { if [ -z $1 ]; then git rebase origin/master; else git rebase -i HEAD~$1; fi }; f"
  # ff = "!f() { if [ -z $1 ]; then git fetch $1; git rebase origin/$1; else git fetch master; git rebase origin/master; fi }; f"
  ff = "!f() { if [ -z $1 ]; then git fetch origin master; git rebase origin/master; else git fetch origin $1; git rebase origin/$1; fi }; f"
  # ff = ! git fetch --all && git rebase origin/master

  # other stuff
  tags = tag -l
   # List contributors with number of commits
  contributors = shortlog --summary --numbered
  # Number of lines changed
  lines = ! git diff | wc -l

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[color "status"]
  added = green
  changed = yellow
  untracked = red

[core]
  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  editor = vim
  excludesfile = ~/.gitignore
  pager = "diff-so-fancy | less --tabs=4 -RFX"
  preloadindex = true

[diff]
  # Detect copies as well as renames
  renames = copies
  compactionHeuristic = true
  algorithm = patience

[help]
  autocorrect = 1

[pretty]
  babe = %C(yellow) %h %Cgreen %<(5)%cd %Cblue %<(18)%an %Creset %<(70)%s

[push]
  default = simple
  autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential]
  helper = osxkeychain

[hub]
  host = https://gits-15.sys.kth.se
